codecov*
src/
coverage/
obsolete/
test/
yarn.lock
yarn-error.log
.babelrc
.eslintrc.json
karma.conf.js
webpack.baseconfig.js
webpack.config.js
jest.config.node.js
jest.config.web.js
webpack.dev.js
webpack.common.js
webpack.prod.js
.idea/
.vscode/
.git/
.gitignore
.circleci/
.nyc_output/
.nycrc
renovate.json
